@use "../../styles/base";

.container {
  color: #fff;
  padding: 32px;
  transition: opacity 1s linear 500ms;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include base.media((laptop)) {
    align-items: flex-end;
    justify-content: center;
    min-height: 100%;
  }

  @include base.media((desktop)) {
    padding-right: 0px;
  }

  &--hidden {
    opacity: 0;
  }
}

.header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 32px;

  @include base.media((laptop)) {
    text-align: right;
  }
}

.cv-button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
  padding: 8px 16px;
  width: 156px;
  margin-bottom: 32px;
  cursor: pointer;

  &__icon {
    margin-right: 8px;
  }
}

.content-container {
  @include base.media((laptop)) {
    display: flex;
  }
}

.content {
  max-width: 600px;

  @include base.media((laptop)) {
    height: 224px;
  }

  &--hidden {
    @include base.media((laptop)) {
      display: none;
    }
  }

  &__header {
    font-size: 1.4rem;
    position: relative;

    &:not(:first-child):not(:last-child) {
      margin-top: 32px;

      &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        top: -16px;
        background-color: #fff;
      }
    }

    @include base.media((laptop)) {
      text-align: right;

      &:not(:first-child):not(:last-child) {
        margin-top: 0px;

        &::before {
          content: none;
        }
      }
    }
  }

  &__sub-header {
    font-weight: bold;
    margin: 4px 0px 12px;

    @include base.media((laptop)) {
      text-align: right;
    }
  }

  &__item {
    margin-top: 4px;
    text-align: justify;

    &::before {
      content: "•";
      margin-right: 8px;
    }

    @include base.media((laptop)) {
      text-align: justify;
      text-align-last: right;
    }
  }
}

.tabs {
  display: none;

  @include base.media((laptop)) {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }
}

.tab-button {
  color: #999;
  width: 208px;
  background-color: transparent;
  border: 0px;
  text-align: right;
  font-size: 1rem;
  padding: 8px 16px 8px 0px;
  border-right: 2px solid #999;
  cursor: pointer;
  transition: color 0.25s;

  &:hover {
    color: #fff;
    border-right-color: #fff;
  }

  &--active {
    color: #fff;
    border-right-color: #fff;
  }
}
